@import url('https://fonts.googleapis.com/css2?family=Modak&family=Prompt:wght@100;200;300;400;500;600;700;800;900&family=Readex+Pro&display=swap');

html {
	--main-color: #b11fe8;
	--main-color-with-alpha: #b11fe8cc;
	--accent-color: #ffdc18; 
	--darker-accent-color: #ddba07;
	--accent-color-with-alpha: #ffdc18cc;
	--teritary-color: #e12782;
	--white: #ffffff;
	--dark-grey: #453f4a;

}

body {
	margin: 0;
	background-color: var(--teritary-color);
	color: var(--dark-grey);
}

article {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

header {
	display: flex;
	justify-content: center;
	align-items: center;
}

header h1 {
	font-family: 'Modak', cursive;
	font-weight: 400;
	font-size: 52px;
	text-align: center;
	padding: 10px;
	background-color: var(--main-color);
	min-width: 600px;
	max-width: 800px;
	margin: 0;
	border-radius: 0 0 16px 16px;
	box-shadow: 0 4px var(--accent-color-with-alpha);
	text-shadow: -2px -2px var(--accent-color-with-alpha);
}

.content {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	text-align: center;
}

.content .size {
	background-color: var(--accent-color);
	font-family: 'Prompt', sans-serif;
	width: 200px;
	border-radius: 20px 10px;
	padding: 6px;
	box-shadow: -2px 4px var(--main-color);
	text-shadow: 1px 1px var(--main-color-with-alpha);
}

.content .button-and-grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 30px;
	margin: 48px;
}

button.reset {
	background-color: var(--accent-color);
	font-family: 'Prompt', sans-serif;
	font-weight: 500;
	font-size: 20px;
	order: 2;
	border: none;
	border-radius: 3px;
	padding: 2px 32px;
	box-shadow: -2px 4px var(--main-color-with-alpha);
	text-shadow: 1px 1px var(--main-color-with-alpha);
}

button.reset:hover {
	background-color: var(--darker-accent-color);
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: var(--main-color);
	padding: 48px;
	border-radius: 10px 10px 0 0;
	box-shadow: 0 -4px var(--accent-color-with-alpha);
}

footer p {
	font-family: 'Readex Pro', sans-serif;
	font-size: 18px;
	margin: 0;
}

footer span {
	margin: 0 8px;
}

.grid {
	display: flex;
	max-width: 800px;
	max-height: 800px;
	flex-flow: row wrap;
	border: var(--accent-color) 4px dashed;
	background-color: var(--white);
}

.cube {
	box-sizing: border-box;
}

